@model NoticeModel
<h2 style="text-align:center;">게시판</h2>
@ViewBag.TitleDescription
<hr />
<div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <form asp-controller="NoticeBoard" asp-action="Update" method="post"
            enctype="multipart/form-data">
            @await Html.PartialAsync("_BoardEditorForm")
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}